/* ============================ */
/* Map: Colores institucionales */
/* ============================ */
$clrs-instit: (
  "armonizacion-orofacial": #ef544d,
  "asistente-dental": #ff7f00,
  "atm": #007cbd,
  "auditoria": #ff7f00,
  "cirugia": #7ab51d,
  "complementaria": #909bb2,
  "diagnostico-imagenes": #009791,
  "discapacidad": #c70119,
  "endodoncia": #df047a,
  "estetica": #f4a741,
  "estomatologia": #ad727b,
  "farmacologia": #ef8b9d,
  "fotografia": #ffaa56,
  "implantologia": #22bbe8,
  "marketing": #ffaa56,
  "multidisciplinario": #b194c0,
  "odontologia-digital": #bdbb38,
  "odontopediatria": #c70119,
  "operatoria": #0e2068,
  "ortodoncia-ortopedia": #86177f,
  "ozonoterapia": #9ab0bc,
  "todos": $primary,
  "periodoncia": #7f2625,
  "prevencion": #004393,
  "prostodoncia": #006c32
);

@each $especialidad, $color in $clrs-instit {
  // Generar una clase personalizada basada en el color actual
  .btn-#{$especialidad} {
    background-color: #{$color};
    color: white;
  }
  .btn-#{$especialidad}:hover {
    border: 1px solid #{$color};
  }

  .border-#{$especialidad} {
    border-color: #{$color};
  }

  .bg-#{$especialidad} {
    background-color: #{$color};
  }

  .bg-header-#{$especialidad} {
    background-image: url('../img/capacitaciones/header-#{$especialidad}.jpg'), linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.5));
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background-blend-mode: multiply;
  }
}

/* ==================== */
/* Custom Fonts */
/* ==================== */

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/albert-sans-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Albert Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/albert-sans-v1-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/albert-sans-v1-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Albert Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/albert-sans-v1-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ==================== */
/* Global               */
/* ==================== */
body {
  padding-top: 80px;
}

@include media-breakpoint-up(md) {
  body {
    padding-top: 96px;
  }
}

/* ==================== */
/* Header               */
/* ==================== */

#nav-main {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand .logo.xs {
  height: 60px;
  width: auto;
}

.navbar-brand .logo.md {
  height: 76px;
  width: auto;
}

.offcanvas-header .btn-close {
  background: none;
  height: auto;
  width: auto;
}

#bootscore-navbar.navbar-nav .nav-link {
  color: rgba(255,255,255,.85);
}

#bootscore-navbar.navbar-nav .nav-link:hover {
  color: rgba(255,255,255,1);
}

/* ==================== */
/* Footer               */
/* ==================== */

.footer-menu > .menu-item {
  margin-bottom: 1rem;
}

#menu-coc-social-media > .menu-item > .nav-link::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-brands);
  margin-right: $spacer * .5;
}

#menu-coc-social-media > .menu-item.facebook > .nav-link::before {
  content: "\f09a"
}

#menu-coc-social-media > .menu-item.instagram > .nav-link::before {
  content: "\f16d"
}

#menu-coc-social-media > .menu-item.youtube > .nav-link::before {
  content: "\f167"
}

.footer-contact-info ul li {
  margin-bottom: 1rem;
}


/* ==================== */
/* Front Page           */
/* ==================== */
#front-carousel {
  aspect-ratio: 1 / 1;
}

@include media-breakpoint-up(md) {
  #front-carousel {
    aspect-ratio: 16 / 6;
  }
}

#pacientes {
  background-image: linear-gradient(to right, #EDF4FC, #9CCCFC);
}

#pacientes figure {
  margin: 0;
  padding: 0;
}

#pacientes figure img {
  width: 100%;
}

#socios-circulo {
  padding: 3rem 0;
}

#socios-circulo h2 {
  font-size: 4rem;
  margin-bottom: 2.5rem;
  text-shadow: 1px 1px 6px rgba(0,0,0,0.5);
  line-height: 1;
}

#socios-circulo p {
  text-wrap: balance;
  margin-bottom: 2rem;
}

#socios-circulo figure {
  margin-bottom: 2rem;
}

#socios-circulo img {
  display: block;
  width: 100px;
}

#socios-circulo .btn {
  margin-top: auto;
}

#capacitaciones-front #filtros-espec-desk {
  gap: 0.25rem;
}

#capacitaciones-front .splide__arrow--prev {
  left: -1.5rem;
}

#capacitaciones-front .splide__arrow--next {
  right: -1.5rem;
}

#capacitaciones-front #capacitaciones .capacitacion .card-img-top {
  aspect-ratio: 16/7;
  object-fit: cover;
}


#capacitaciones-front .capacitacion {
  transition: all 250ms;
}

#servicios-extension-title > img {
  width: 100% !important;
  max-width: 320px;
}

/* ==================== */
/* Capacitacion         */
/* ==================== */
#header-capacitacion {
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

.detalles-header {
  height: 40vh;
  gap: 0.25rem;
}

#detalles-inscripcion {
  margin-top: $spacer * 1.25;
}

@include media-breakpoint-up(md) {
  #detalles-inscripcion {
    margin-top: -10rem;
  }
}

#detalles-inscripcion > img {
  aspect-ratio: 16/10;
  object-fit: cover;
}

.highlights {
  display: grid;
  grid-template-columns: 1fr;
}

@include media-breakpoint-up(md) {
  .highlights {
    grid-template-columns: repeat(3, 1fr);
  }
}

.highlight p {
  margin-bottom: 0;
  text-align: center;
  text-wrap: balance;
}

#certificantes img {
  max-width: 140px;
}

#certificantes {
  flex-wrap: wrap;
  gap: 1rem;
}

#capacitaciones-sugeridas {
  display: grid;
  gap: 1.5rem;
}

@include media-breakpoint-up(sm) {
  #capacitaciones-sugeridas {
    grid-template-columns: repeat(2,1fr);
    gap: 0.5rem;
  }
}

@include media-breakpoint-up(md) {
  #capacitaciones-sugeridas {
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
  }
}

@include media-breakpoint-up(lg) {
  #capacitaciones-sugeridas {
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
  }
}

#capacitaciones-sugeridas .card .card-img-top {
	aspect-ratio: 16/7;
	object-fit: cover;
}

/* Testing */
#app-root .card-img-top {
  aspect-ratio: 16/7;
  object-fit: cover;
}