$primary: #165b8c;
$secondary: #4a7797;
$dark: #04121c;

$font-family-sans-serif: 'Albert Sans', 'Futura', 'Avenir', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;